<main>
  <div id="formContainer">
    <form >
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
      </div>
      <button  class="btn btn-primary" id="loginbtn">Login</button>
    </form>
  </div>
</main>


<script>
  document.querySelector('#loginbtn').addEventListener("click" , async (event) =>{
    event.preventDefault()
    console.log("login")
    const data = {
      email : document.querySelector('#email').value, 
      password : document.querySelector('#password').value
    }
    const option = {
      method : "POST",
      headers: { "Content-Type": "application/json"},
      body : JSON.stringify(data)
    }
    let response = await fetch("/api/sessions/login", option)
    response = await response.json();
    console.log(response)
    if(response.statusCode === 200){
      location.replace("/")
    }
    alert(response.message)
  })
  
</script>


<style>
    #formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: center;
    background: #ffc342;
    }
    form {
    width: 40%;
    border: solid 1px #ffb342;
    border-radius: 20%;
    padding: 4rem !important;
    background-color: #ffa342;
    box-shadow: 13px 13px 26px #D19337, -13px -13px 26px #ffd34e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem !important;
    max-width: 370px;
    }
    .form-group{
        margin-bottom: 1rem !important;
        width: 100%;
    }
    #registerBtn {
    width: 100%;
    margin-top: 10px !important;
    height: 2rem;
    background-color: #777;
    color: #ffb455;
    font-weight: bold;
    text-shadow: 1px 1px 1px #444;    
    font-size: 1.2rem;
    
    }   
    form div label {
        display: inline-block;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    }
</style>
